<div class="footer-bottom">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="copyright text-muted">
                ©OverTheTop 2017, PictureApp, All rights reserved
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="design">
                <a target="_blank" href="#">Web Design & Development by Tài Béo - Bá Thành - Phát Lê</a>
                <br>
                <%= image_tag  "taibeo.png", size: "38x38", :style => "border-radius: 50%; margin-right: 32px;" %>
                    <%= image_tag  "bathanh.png", size: "38x38", :style => "border-radius: 50%; margin-right:32px;" %>
                        <%= image_tag  "phatle.png", size: "38x38", :style => "border-radius: 50%; margin-right: 15px;" %>
            </div>
        </div>
    </div>
</div>

<!--
<script type="text/javascript">
    $(".footer-bottom").show();
    setTimeout(function() { $(".footer-bottom").fadeOut(); }, 3000);    
</script>
-->

<!--<footer class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-4">
                <ul class="list-unstyled">
                    <li class="title-footer">Contact</li>

                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact & support</a>
                    </li>
                    <li>
                        <a href="#">Enterprise</a>
                    </li>
                    <li>
                        <a href="#">Site status</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-4 col-xs-4">
                <ul class="list-unstyled">
                    <li class="title-footer">Services</li>
                    <li>
                        <a href="#">Web analytics</a>
                    </li>
                    <li>
                        <a href="#">Presentations</a>
                    </li>
                    <li>
                        <a href="#">Code snippets</a>
                    </li>
                    <li>
                        <a href="#">Job board</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-4">
                <ul class="list-unstyled">
                    <li class="title-footer">Documentation</li>
                    <li>
                        <a href="#">Product Help</a>
                    </li>
                    <li>
                        <a href="#">Developer API</a>
                    </li>
                    <li>
                        <a href="#">Product Markdown</a>
                    </li>
                    <li>
                        <a href="#">Product Pages</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy</a>
                <a href="#">Security</a>
            </div>
            <div class="col-4">
                <p class="text-muted pull-right">© 2015 Company Name. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
-->