// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HOME HEADER */

.home-header {
    background-color: deepskyblue;
    background-size: 1920px 33px;
}


/* Footer */

.footer-bottom {
    background-color: #15224f;
    height: auto;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}

.input-search {
    margin-left: 78%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    margin-left: 15%;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
    margin-right: 15%;
}

.design a {
    color: #fff;
}


/* Index */

.padding-60 {
    margin-top: 38px;
}

#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 35%;
    -moz-column-width: 35%;
    column-width: 35%;
}

#portfolio-container .tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

#portfolio-container .tile:hover {}

#portfolio-container .scale-anm {
    transform: scale(1);
}

#portfolio-container p {
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    font-family: lato;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    display: block;
    float: left;
}

#portfolio-container p:hover {
    cursor: pointer;
    background: #333;
    color: #eee;
}

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

#portfolio-container .btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #FF1351;
}

#portfolio-container .btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}


/*Portfolio===============================*/

#portfolio-container .active {
    background-color: #FF1351;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

#portfolio-container .active:active {
    background-color: #FF1351;
    color: #fff;
    outline: 0;
    box-shadow: none;
}


/* About */

.About-Prev-Tab {
    h1 {
        font-size: 30px;
        padding-top: 96px;
        text-align: center;
        color: #525558;
        text-rendering: optimizeLegibility;
    }
    p {
        font-size: 18px;
        line-height: 1.4em;
        margin: 0px auto;
        text-align: center;
        max-width: 600px;
        padding-bottom: 60px;
        color: #525558;
    }
}

.About-Prev-Tab section {
    max-width: 100%;    
}

.top-background-about{
    position: relative;
    height: 67vh;
    overflow: hidden;
    width: 100%;
    border-bottom: 0;
    text-align: center;

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
    {
        margin: 0;
        padding: 0;

        font-family: "tondo", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        letter-spacing: -0.01em;
    }

    .top-background-about{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .center{
            display: table;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
    }

    .intro{
        width: 100%;
        display: table-cell;
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0,0.35);
    }

    .intro h1 {
        color: #fff;        
        margin: 0px auto;
        padding-top: 15vh;
        font-size: 55px;
        width: 100%;
        padding: 96px 0 37px 0;
        font-weight: 400;

        text-rendering: optimizeLegibility;
    }
    .intro p{
        font-size: 20px;
        padding: 0 20px;
        display: inline-block;
        margin: 0 0 90px 0;
        line-height: 1.4em;
        color: #fff;
        max-width: 640px;
    }
}