<%= render 'layouts/frmheader' %>
  <div class="login">
    <form class="login-form" action="#">
      <div class="input-group input-group-lg">
        <div class="input-group-addon">
          <span class="fa fa-lg fa-envelope" />
        </div>
        <input type="email" class="form-control" id="user-name" placeholder="Email" required tabindex="1" />
      </div>
      <div class="input-group input-group-lg">
        <div class="input-group-addon">
          <span class="fa fa-lg fa-key" />
        </div>
        <input type="password" class="form-control" id="password" placeholder="Password" required tabindex="2" />
      </div>
      <input type="submit" id="login" class="btn btn-primary fa-lg" value="Sign in" tabindex="3" />
      <div class="login-bar">
        <input type="checkbox" id="stay-signed-in" tabindex="4" />
        <label for="stay-signed-in">Keep me signed in</label>
        <a href="#" class="pull-right">Forgotten your password?</a>
      </div>
    </form>

    <span>        
       <p  style="text-align: center; margin-top: 25px; 
       color: #5F5F5F; 
         font-family: 'Courgette', cursive; font-size: 20px;">OR</p>          
    </span>
    
  <div class="social">
    <div class="social-inner">
      <a class="fa fa-2x fa-google btn btn-danger"></a>
      <a class="fa fa-2x fa-twitter btn btn-info"></a>
      <a class="fa fa-2x fa-facebook btn btn-primary"></a>
    </div>
  </div>

  <div class="register">
    <div class="register-inner">
      <a href="#" class="btn btn-success">Create an Account</a>
    </div>
  </div>
  </div>